<section class="hero">

    <div class="hero-wrapper">

        <div class="envelope">

            <!-- CLAPA PLICULUI -->
            <div class="envelope-flap"></div>

            <!-- CONTINUT -->
            <div class="hero-content">

                <h1>
                    Ciprian
                    <span>&</span>
                    Medina
                </h1>

                <p class="date">
                    12 Septembrie 2026
                </p>

                <a  style="margin-top: 20px;"
                href="#invitatie" class="scroll-hint">
                    Apasă pentru invitație
                </a>

            </div>

        </div>

    </div>

</section>