<section class="rsvp-section">

    <div class="rsvp-container">


        <h1 class="rsvp-title" style="color: #f7f4ef;">
            Confirmarea Prezenței
        </h1>

        <!-- DIVIDER -->
        <div class="dividertitlu">

            <span class="linetitlu"></span>

            <span class="hearttitlu" >&#10084;</span>

            <span class="linetitlu"></span>

        </div>

        <p class="rsvp-text" style="color: #f7f4ef;">
            Vă rugăm să confirmați prezența
            până la data de <strong>12.08.2026.</strong>
        </p>

        <!-- GRID -->
        <div class="rsvp-grid">

            <!-- MEDINA -->
            <div class="rsvp-card">

                <h3>Medina</h3>

                <div class="card-divider">

                    <span class="line"></span>

                    <span class="heart">&#10084;</span>

                    <span class="line"></span>

                </div>

                <a href="tel:0735175256" class="phone-number">
                    0735175256
                </a>
                <a href="tel:0735175256" class="phone-number">
<div class="phone-icon">
    ☎
</div>                </a>

                

            </div>

            <!-- CIPRIAN -->
            <div class="rsvp-card">

                <h3>Ciprian</h3>

                <div class="card-divider">

                    <span class="line"></span>

                    <span class="heart">&#10084;</span>

                    <span class="line"></span>

                </div>

                <a href="tel:+447429711511" class="phone-number">
                    +44 7429 711511
                </a>
<a href="tel:+447429711511" class="phone-number">
<div class="phone-icon">
    ☎
</div></a>
                

            </div>

            <!-- FAMILY -->
            <div class="rsvp-card full-width">

                <h3>Fam. Moldovan</h3>

                <div class="card-divider">

                    <span class="line"></span>

                    <span class="heart">&#10084;</span>

                    <span class="line"></span>

                </div>

                <a href="tel:0729139589" class="phone-number">
                    0729139589
                </a>

                <a href="tel:0729139589" class="phone-number">
                <div class="phone-icon">
                    ☎
                </div>
                </a>

            </div>

        </div>

        <!-- WHATSAPP -->
        <a href="https://wa.me/40735175256" target="_blank" class="whatsapp-btn">

            Confirmă pe WhatsApp

        </a>

        <!-- FINAL MESSAGE -->
        <div class="final-message">

            <p style="color: #f7f4ef;">
                Abia aşteptăm să ne fiți alături!
                Prezența voastră este cel mai frumos cadou.
            </p>

            <div class="signature" style="color: #f7f4ef;">
                Cu tot dragul,
                <br>
                Ciprian & Medina
            </div>

            <div class="wedding-date" style="color: #f7f4ef;">
                12 SEPTEMBRIE 2026
            </div>

        </div>

    </div>

</section>