<!-- countdown.html -->

<section class="countdown-section">

    <!-- INTRO TEXT -->

    <div class="intro-text">

        <p class="top-text">
            Astăzi scriem împreună primul capitol
            al unei iubiri fără sfârșit,
            iar prezența voastră va face această zi completă.
        </p>

        <h1>
            Ciprian
            <span>&</span>
            Medina
        </h1>

    </div>

    <!-- COUNTDOWN -->

    <div class="countdown-header">

        <div class="line"></div>

        <h2>Numărătoarea inversă</h2>

        <div class="line"></div>

    </div>

    <div class="timer">

        <div class="box">
            <span>{{days}}</span>
            <p>Zile</p>
        </div>

        <div class="separator">:</div>

        <div class="box">
            <span>{{hours}}</span>
            <p>Ore</p>
        </div>

        <div class="separator">:</div>

        <div class="box">
            <span>{{minutes}}</span>
            <p>Minute</p>
        </div>

        <div class="separator">:</div>

        <div class="box">
            <span>{{seconds}}</span>
            <p>Secunde</p>
        </div>

    </div>

    <!-- CALENDAR -->

    <div class="calendar-container">

        <h3>Septembrie 2026</h3>

        <div class="calendar">

            <!-- zile -->

            <div class="day-name">L</div>
            <div class="day-name">Ma</div>
            <div class="day-name">Mi</div>
            <div class="day-name">J</div>
            <div class="day-name">V</div>
            <div class="day-name">S</div>
            <div class="day-name">D</div>

            <!-- septembrie 2026 -->

            <div></div>

            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>

            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>10</div>
            <div>11</div>

            <div class="heart">
                12
            </div>

            <div>13</div>

            <div>14</div>
            <div>15</div>
            <div>16</div>
            <div>17</div>
            <div>18</div>
            <div>19</div>
            <div>20</div>

            <div>21</div>
            <div>22</div>
            <div>23</div>
            <div>24</div>
            <div>25</div>
            <div>26</div>
            <div>27</div>

            <div>28</div>
            <div>29</div>
            <div>30</div>

        </div>

    </div>

</section>