<section class="countdown">

    <h2>Numărătoarea inversă</h2>

    <div class="grid">

        <div class="box">
            <h3>{{ days }}</h3>
            <p>Zile</p>
        </div>

        <div class="box">
            <h3>{{ hours }}</h3>
            <p>Ore</p>
        </div>

        <div class="box">
            <h3>{{ minutes }}</h3>
            <p>Minute</p>
        </div>

        <div class="box">
            <h3>{{ seconds }}</h3>
            <p>Secunde</p>
        </div>

    </div>

</section>