<section class="story-section">

    <div class="story-container">

        <h1 class="story-title" style="color: #ffffff;">
                        Povestea Noastră

        </h1>
        <div class="divider">
        
            <span class="line"></span>
        
            <span class="heart">&#10084;</span>
        
            <span class="line"></span>
        
        </div>

        <!-- POLAROID GALLERY -->
        <div class="polaroid-gallery">

            <div class="polaroid rotate-left">
                <img src="assets/medina-ciprian2.jpeg" alt="medina">
            </div>

            <div class="polaroid rotate-right">
                <img src="assets/medina-ciprian.jpeg" alt="ciprian">
            </div>

            <div class="polaroid center-photo">
                <img src="assets/medina-ciprian3.jpeg" alt="medina-ciprian">
            </div>

        </div>

        <!-- PĂRINȚI -->
        <div class="family-section">

            <h2 style="color:#ffffff;">Părinții noștri</h2>
            <div class="dividernume">
            
                <span class="line"></span>
            
                <span class="heart">&#10084;</span>
            
                <span class="line"></span>
            
            </div>

            <div class="family-grid">

                <div class="family-card">
                    <h3 style="color:#3a3f2c;">Karla & Mircea</h3>
                    <p style="color:#3a3f2c;">Moldovan</p>
                </div>

                <div class="family-card">
                    <h3 style="color:#3a3f2c;">Ana & Ghiorghiță</h3>
                    <p style="color:#3a3f2c;">Moraru</p>
                </div>

            </div>

        </div>

        <!-- NAȘI -->
        <div class="family-section">

            <h2 style="color:#ffffff;" >Nașii noștri</h2>
            <div class="dividernume">
            
                <span class="line"></span>
            
                <span class="heart">&#10084;</span>
            
                <span class="line"></span>
            
            </div>

            <div class="family-grid">
                <div class="family-card">
                    <h3 style="color:#3a3f2c;">Alin & Daniela</h3>
                    <p style="color:#3a3f2c;">Paraschiv</p>
                </div>

                <div class="family-card">
                    <h3 style="color:#3a3f2c;">Sergiu & Andreea</h3>
                    <p style="color:#3a3f2c;">Vereșezan</p>
                </div>

            

            </div>

        </div>

        <!-- MESAJ -->
        <p class="story-message" style="color:#f7f4ef;">
            Împreună scriem începutul unei povești fără sfârșit,
            iar prezența voastră înseamnă totul pentru noi.
        </p>

    </div>

</section>