<section class="story">

    <h2>Părinții noștri</h2>

    <div class="grid">

        <div class="card">
            <h3>Karla & Mircea</h3>
            <p>Moldovan</p>
        </div>

        <div class="card">
            <h3>Ana & Ghiorghiță</h3>
            <p>Moraru</p>
        </div>

    </div>

    <h2>Nașii noștri</h2>

    <div class="grid">

        <div class="card">
            <h3>Sergiu & Andreea</h3>
            <p>Vereșezan</p>
        </div>

        <div class="card">
            <h3>Alin & Daniela</h3>
            <p>Paraschiv</p>
        </div>

    </div>

    <p class="message">
        Împreună scriem începutul unei povești fără sfârșit,
        iar prezența voastră înseamnă totul pentru noi.
    </p>

</section>