<section class="timeline-fullscreen" id="invitatie">

    <div class="timeline-container">

        <h1 class="timeline-main-title">
            Programul Evenimentului
        </h1>

        <!-- CUNUNIE -->
        <div class="timeline-card">


            <h2>Cununia religioasă</h2>

            <p class="timeline-date">
                12 Noiembrie 2026 • 15:30
            </p>

            <p class="timeline-location">
Catedrala Încoronării
din Alba Iulia            </p>

            <a href="https://www.google.com/maps?um=1&ie=UTF-8&fb=1&gl=ro&sa=X&geocode=KYXrQl3ep05HMW8iM4bMvUZa&daddr=Str.+Mihai+Viteazul+16,+510010+Alba+Iulia" target="_blank" class="map-button">
                Vezi locația
            </a>

        </div>

        <!-- PETRECERE -->
        <div class="timeline-card">


            <h2>Petrecerea</h2>

            <p class="timeline-date">
                12 Noiembrie 2026 • 19:00
            </p>

            <p class="timeline-location">
Jolly Events din Alba Iulia

            </p>

            <a href="https://www.google.com/maps?gs_lcrp=EgZjaHJvbWUyBggAEEUYOdIBCDc2MDFqMGo0qAIAsAIA&um=1&ie=UTF-8&fb=1&gl=ro&sa=X&geocode=KcEe-pUTqE5HMZt-Eeu7jwDI&daddr=Strada+Livezii+37,+510011+Alba+Iulia" target="_blank" class="map-button">
                Vezi locația
            </a>

        </div>

    </div>

</section>