<section class="timeline-fullscreen">

    <div class="timeline-container">

        <h1 class="timeline-main-title">
            Programul Evenimentului
        </h1>

        <!-- CUNUNIE -->
        <div class="timeline-card">


            <h2>Cununia religioasă</h2>

            <p class="timeline-date">
                12 Noiembrie 2025 • 16:00
            </p>

            <p class="timeline-location">
                Biserica Sfântul Nicolae
            </p>

            <a href="https://maps.google.com/?q=Biserica+Sfântul+Nicolae" target="_blank" class="map-button">
                Vezi locația
            </a>

        </div>

        <!-- PETRECERE -->
        <div class="timeline-card">


            <h2>Petrecerea</h2>

            <p class="timeline-date">
                12 Noiembrie 2025 • 20:00
            </p>

            <p class="timeline-location">
                Ballroom Prestige Events
            </p>

            <a href="https://maps.google.com/?q=Prestige+Events" target="_blank" class="map-button">
                Vezi locația
            </a>

        </div>

    </div>

</section>