/* You can add global styles to this file, and also import other style files */
:root {

    --sage: #7a9780;
    --sage-dark: #5f7864;
    --sage-light: #dfe8df;

    --cream: #f7f4ef;
    --white: #ffffff;

    --text: #2d2d2d;

}